.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
h1{
  text-align: center;
}
.playerDisplay{
   margin-left:15%;
}
.column {
  float: left;
  width: 50%;
}
.indPlayer{
  display: block;
      background:White;
        margin-top: 20px;
        margin-right:60%;
        border-radius: 200px;
        border: none;
        padding-left:15%;
        padding-right:15%;
        padding-bottom: 1%;
        padding-top: 1%;
        text-decoration: none;
        color:black;
        /* text-align: left; */
          
}
.indPlayer:hover {
  background-color: #1DA099;
  transition: ease-in-out 0.26s;
  } 

.gamesExample {
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  background-color: rgb(44, 82, 138);
  border-radius: 20px;
  margin-bottom: 50px;
  color: white;
  height: 200%;
  width: 80%;
}
.gamesExample .column{
  float:left;
  width:25%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.score2 {
  text-align: center;
  font-size: 25pt;
  font-weight: 1000;
  margin-top: 25%;
}
.versusText2 {
  text-align: center;
  font-size: larger;
  font-weight: 1000;
  padding-bottom: 10px;

}
.time2 {
  text-align: center;
  font-size: large;
  padding-top: 10px;
}

.columnGames{
  width: 50%;
  float:left;
}
.columnGames .games{
  text-align: center;
  background-color:rgb(44, 82, 138);
  margin-bottom: 50px;
  margin-left:5%;
  margin-right:10%;
  color: white;
  height: 300px;
    width: 90%;
    min-width: 50%;
}

.gamesInfo{
  text-align: center;
  margin-left:40%;
  margin-right:50%;
  background-color:rgb(44, 82, 138);
  margin-bottom: 50px;
  color: white;
  height: 300px;
    width: 100%;
text-decoration: none;
  color:white;
}
.gamesInfo .column{
  float:left;
  width:33.33%;
}
.teams{
  height:  50%;
  width: 50%;
  margin-bottom: 4px;
  margin-top: 50px;
}
.gameText{
  font-size: 100%;
  font-weight: 1000;
  margin-bottom:20%;
}

.score{
  text-align: center; 
  margin-top: 30%;
  font-size: 200%;
  font-weight: 1000;    
}
.versusText{
  text-align: center;
  font-size: 90%;
  padding-bottom: 10px;
  margin-top: 5%;
}
.time{
  text-align: center;
  font-size: 100%;
  padding-top: 10px;
}


.split {
  height: 10%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;

}

/* Control the right side */
.right {
  right: 0;
  margin-top:10%;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 150px;
  border-radius: 50%;
}
.footer {
  position: relative;
  left: 0;
  bottom: 0;
  height:150px;
  width: 100%;
  background-color:rgb(0, 19, 39, 255);
  color: white;
  text-align: center;
}
* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px;
  /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.games{
  text-align: center;
  background-color:rgb(44, 82, 138);
  margin-bottom: 50px;
  margin-left:5%;
  margin-right:10%;
  color: white;
  height: 300px;
    width: 90%;
}
