ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: #E8ECC2; */
    background-color: rgb(27, 28, 30);
}

li {
    float: left;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li .first_header:hover {
    background-color: #1DA099;
}


/* Second Navbar  */

.secondNavbar {
    background-color: rgb(0, 19, 39, 255);
}

.Logo_Img {
    width: 380px;
    height: 80px;
    padding-top: 5px;
    padding-left: 10px;
}

.secondNavbar .gear {
    margin-right: 35px;
    margin-top: 22px;
    float: right;
    cursor: pointer;
    color: white;

}

.secondNavbar .gear .svg-inline--fa.fa-user-gear {
    width: 29px;
    height: 29px;
}

.secondNavbar .iconn {
    padding: 0;
}

.secondNavbar .signup {
    padding-right: 20px;
    float: right;
    color: rgb(213, 222, 238);
    margin-top: 8px;
    font-size: 22px;
    font-weight: bold;
}

.secondNavbar .login {
    padding-right: 2px;
    margin-top: 8px;
    float: right;
    color: rgb(213, 222, 238);
    font-size: 22px;
    font-weight: bold;
}

.secondNavbar .signup .login_signup_click {
    color: rgb(213, 222, 238);
}

.secondNavbar .login .login_signup_click {
    color: rgb(213, 222, 238);
}

.secondNavbar .signup :hover {
    color: #1DA099;
}

.secondNavbar .login :hover {
    color: #1DA099;
}

/* Third Navbar  */
.thirdNavbar {
    background-color: rgb(44, 82, 138);
}

.thirdNavbar .navbar_align {
    display: flex;
    align-items: center;
    justify-content: center;
}

.thirdNavbar .twitter_feed {
    color: rgb(213, 222, 238);
    font-size: 20px;

}

.thirdNavbar .live_games {
    color: rgb(213, 222, 238);
    font-size: 20px;
}

.thirdNavbar .player_stats {
    color: rgb(213, 222, 238);
    font-size: 20px;

}

.thirdNavbar .navbar_align :hover {
    color: #1DA099;
}

/* Search Bar */

.search_bar {
    margin-top: 20px;
}

.search_bar .search_feed {
    padding-top: .5%;
    padding-bottom: .5%;
    padding-right: 35%;
    padding-left: 2%;
    margin-top: 30px;
    margin-left: 2%;
    border: none;
    font-size: 20px;
    border-radius: 20px;
    margin-bottom: 10px;
}

input,
input::placeholder {
    padding-right: 1000px;
}

.search_bar .search_button {
    padding-left: 10px;
    margin-top: 8px;
    margin-right: 16px;
    border: none;
    font-size: 20px;
}

.search_bar .search_button {
    background: url(./HomePage_Images/SearchIcon.png) no-repeat;
    cursor: pointer;
    border: none;
    padding-bottom: 10px;
    padding-right: 16px;
    padding-top: 18px;
    margin-left: 10px;
}

.click_to_view {
    text-decoration: none;
}

.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-size: large;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 15px 20px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.filter_section {
    padding-left: 15px;
    padding-bottom: 20px;
}

.filter_section .dropdown .dropbtn {
    background: rgb(44, 82, 138);
    margin-right: 30px;
    margin-bottom: 25px;
    padding-left: 32px;
    padding-right: 32px;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #1DA099;
    transition: ease-in-out 0.26s;
}

.dateSelect {
    padding: 15px 25px;
    background-color: rgb(44, 82, 138);
    border: none;
}

.dateSelect:hover {
    background-color: #1DA099;
    border: none;
    transition: ease-in-out 0.26s;
}

.search_bar .filter_section .dateSelect {
    color: white;
    font-size: large;
}

input {
    position: relative;
}


.search_bar .row {
    display: flex;
    background-color: rgb(44, 82, 138);
    margin-bottom: 35px;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 30px;
    min-width:50%;
}

.search_bar .row .click_to_view1 {
    flex: 50%;
    /* margin-right: 200px; */
    text-decoration: none;
}

.search_bar .row .click_to_view1 .column1 {
    padding-left: 50px;
    padding-right: 50px;
}

.search_bar .row .click_to_view1 .data_text {
    color: rgb(213, 222, 238);
    font-weight: 500;
}

.search_bar .row .click_to_view2 {
    flex: 50%;
}

.search_bar .row .click_to_view2 .column2 {
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 35px;
}

.search_bar .row .click_to_view2 .column2 .image {
    height: 60%;
    width: 60%;
    border-radius: 2%;
    margin-left: .2%;
    /* width: 20%; */
}

.secondNavbar .gear .settings {
    color: rgb(213, 222, 238);
    padding-top: 1px;
    padding-right: 2px;
    padding-left: 3px;
}

.secondNavbar .gear .settings :hover {
    color: #1DA099;
}

/*Search bar for the Players page*/
.search_bar_player .search_feed {
    padding: 10px;
    padding-right: 15%;
    padding-left: 1%;
    margin-top: 30px;
    /* margin-right: 16px; */
    border: none;
    margin-right: 10px;
    font-size: 20px;
    border-radius: 20px;
    margin-bottom: 10px;
}
.search_bar_player .search_button {
    margin-right: 25%;
    background: url(./HomePage_Images/SearchIcon.png) no-repeat;
    cursor: pointer;
    border: none;
    padding-bottom: 10px;
    padding-right: 16px;
    padding-top: 18px;
}


/* Dropdown menu for PlayerStats */
.dropdownPlayer {
   width: 50%;
}
.dropdownPlayer .dropbtn {
    background: #0d356c;
    margin-top: 10px;
    border-radius: 20px;
    border: none;
}
.dropdownPlayer .dropdown-content {
    padding: 10px;
}
.dropdownPlayer .dropdown-content .select_format {
    color: #0d356c;
    border: none;
}

.search_bar_Games {
    margin-top: 20px;
    margin-left: 40%;
    text-align: left;
}
.search_bar_Games .search_feed {
    padding-right: 10%;
    padding-left: 5%;
    padding-top: .75%;
    padding-bottom: .75%;
    margin-right: 16px;
    border: none;
    margin-right: 2%;
    font-size: 100%;
    border-radius: 20px;
    margin-bottom: 10px;
}
.search_button_Games {
    margin-right: 25%;
    background: url(./HomePage_Images/SearchIcon.png) no-repeat;
    cursor: pointer;
    border: none;
    padding-bottom: 10px;
    padding-right: 16px;
    padding-top: 18px;
    /* margin-left: 2px; */
}


.row {
    /* display: block;
    background-color: rgb(44, 82, 138);
    margin-bottom: 35px;
    margin-left: 75px;
    margin-right: 50px;
    border-radius: 30px;
    flex: 50%; */
    /* float: left; */
color: white;
}

/* 
.row .click_to_view1{
     flex: 50%;
     margin-right: 200px;
     text-decoration: none;
     
 } */

.row .column1 {
    /* padding-left: 50px;
     padding-right: 50px; */
    /* margin-right: 40px; */
    margin-left: 40px;
    margin-right: 40px;
}

.row .data_text {
    color: rgb(213, 222, 238);
    font-weight: 500;
    /* text-align: left; */
    /* padding-right: 40px; */
    text-align: center;
}

.row .click_to_view2 {
    flex: 40%;
}

.row .click_to_view2 .column2 .image {
    margin-left: 5px;
}

.row .click_to_view2 .column2 {
    padding-left: 50px;
    padding-right: 50px;
    margin: 25px;
}

.row .click_to_view2 .column2 .image {
    height: 150px;
    width: 250px;
    border-radius: 30px;
    margin-left: 55px;
}

/* .box2 {

    display: flex;
   background-color:#3c6eb4;
    margin-bottom: 35px;
    margin-left: 75px;
    margin-right: 50px;
    border-radius: 30px;
    flex: 50%;
    float: right;
    display: block;
    align-items: center;
justify-content: center;
} */

.column {
    float: left;
}

.left {
    width: 40%;
}

.right {
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.row .column.left .image {
    height: 60%;
    width: 60%;
    border-radius: 25px;
    /* text-align: center; */
    
}

.row .column.left .column2 {
    /* padding-left: 30%;
    padding-right: 30%; */
    padding-bottom: 10px;
    text-align: center;
}



.row .column.left .border {
    background-color: rgb(44, 82, 138);
    border-radius: 25px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    /* width: 110%; */
    padding-bottom: 20px;

}

.row .overall_board .column.left {
    background-color: rgb(213, 213, 213);
    /* border-radius: 25px; */
    margin-left: 60px;
    padding: 10px;
    /* margin-right: 10px; */
    /* margin-right: 30px; */
}

.row .overall_board .column.left  {
    /* background-color: #1DA099; */
    /* float: right; */
    /* border-radius: 25px;
     */
     border-radius: 25px;
     
}

.row .column.right {
    float: right;
    width: 50%;
    background-color:rgb(213, 213, 213) ;
}

.row .column1 {
    display: block;
}

/* .row .column.left .column2 {
    display: flex;
} */

.row .white{
    height: 10px;
    width: 100%;
    background-color: rgb(213, 213, 213);
    /* border-radius: 20px; */
    padding: 30px;
}

/* .row .column.right .stats{
    margin-top: 50%;
    margin-bottom: 50%;
} */

.row .column.right{
   top: 35%;
   left: 50%;
   position: absolute;
}

.row .column.right .stats .importantInfo{
    /* margin-top: 20px; */
    font-size: 100%;
    margin-bottom: 100px;
    /* font-weight:400; */
}

.row .column.right .stats .number{
    font-size: xx-large;
    font-size: 160%;
    color: black;
}

.top{
    color: rgb(79, 77, 77);
    font-size: x-large;
    padding-top: 45px;
    padding-bottom: 45px;
    font-size: 200%;
}

.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px;
    /* text-align: left; */
    /* Should be removed. Only for demonstration */
  }

  .row .column.right .stats .importantInfo{
      font-size: 200%;
      color: black;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height:150px;
    width: 100%;
    background-color:rgb(0, 19, 39, 255);
    color: white;
    text-align: center;
  }
/* 
  .column_Footer {
    float: left;
    width: 50%;
  } */