.Signup_form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.Signup_form .form_input{
    width: 250px;
    padding: 12px 20px;
    margin-top: 18px;
    display: block;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-sizing: border-box; 
    font-size: medium;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
    
    
}

.Signup_form .Signup_label{
    color: rgb(23, 71, 134);
    padding-bottom: 20px;
}

.Signup_form .Signup_button{
    background-color: rgb(23, 71, 134); /* Green */
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    padding-left: 90px;
    padding-right: 90px;
    border-radius: 20px;
    
}