.Signup_form{
    /* position: absolute; */
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%,-50%); */
    /* margin-top: 345px; */
    margin-top: 15%;
    margin-bottom: 20%;
}

.Signup_form .form_input{
    width: 250px;
    padding: 12px 20px;
    margin-top: 18px;
    display: block;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-sizing: border-box; 
    font-size: medium;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}

.data {
    margin-left: 42%;
    margin-right: 42%;
}

.Signup_form .Signup_label{
    color: rgb(23, 71, 134);
    padding-bottom: 20px;
}

.Signup_form .Signup_button{
    background-color: rgb(23, 71, 134); /* Green */
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    padding-left: 90px;
    padding-right: 90px;
    border-radius: 20px;
    margin-bottom: 10px;
}

.Signup_form .Signup_button:hover{
    background-color:#1DA099 ;
    transition:0.3s;
}



.account_buttons{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.account_buttons .reset{
    display: block;
    background-color: rgb(23, 71, 134); /* Green */
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 20px;
    margin-bottom: 15px;
}
.account_buttons .reset:hover{
    background-color: #1DA099;
    transition:0.27s;
}


.account_buttons .logout{
    display: block;
    background-color: rgb(23, 71, 134); /* Green */
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-top: 5px;
    padding-left: 83px;
    padding-right: 83px;
    border-radius: 20px;
    
}
.account_buttons .logout:hover{
    background-color: #1DA099;
    transition:0.27s;
}

.account_buttons .delete{
    display: block;
    background-color: rgb(23, 71, 134); /* Green */
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-top: 15px;
    padding-left: 53px;
    padding-right: 53px;
    border-radius: 20px;
}
.account_buttons .delete:hover{
    background-color: #1DA099;
    transition:0.27s;
    
}

.Signup_form .check{
    text-align: center;
    margin-left:30% ;
    margin-right: 30%;
    font-weight: 600;
    color: rgb(111, 108, 108);
    
}
.account_buttons .link{
    text-decoration: none;
}

.Signup_form .requirement{
    color: red;
    margin-top: 1px;
}

.Signup_form .loginButton{
    color: rgb(31, 94, 230);
    
}

.login_form{
    /* position: absolute; */
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%,-50%); */
    /* margin-top: 345px; */
    margin-top: 300px;
    padding-top: 60px;
    /* padding-bottom: 30%; */
    /* margin-bottom: 10%; */
}

.login_form .form_input{
    width: 250px;
    padding: 12px 20px;
    margin-top: 18px;
    display: block;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-sizing: border-box; 
    font-size: medium;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}

.data {
    margin-left: 42%;
    margin-right: 42%;
}

.login_form .Signup_label{
    color: rgb(23, 71, 134);
    padding-bottom: 20px;
}

.login_form .Signup_button{
    background-color: rgb(23, 71, 134); /* Green */
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    padding-left: 90px;
    padding-right: 90px;
    border-radius: 20px;
    margin-bottom: 10px;
}

.login_form .Signup_button:hover{
    background-color:#1DA099 ;
    transition:0.3s;
}

.Forget_Signup{
    color: rgb(31, 94, 230);
    margin-top: 10px;
}

.Forget_Signup .forget{
    color: rgb(31, 94, 230);
    /* margin-bottom: 10px; */
}
.Forget_Signup .signup {
    color: rgb(31, 94, 230);
    /* margin-top: 10px; */
}


/* Reset Form */


.reset_form{
    /* position: absolute; */
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%,-50%); */
    /* margin-top: 345px; */
    margin-top: 15%;
    /* margin-bottom: 20%; */
}

.reset_form .OTP_new{
    width: 250px;
    padding: 12px 20px;
    margin-top: 18px;
    display: block;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-sizing: border-box; 
    font-size: medium;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}

.data {
    margin-left: 42%;
    margin-right: 42%;
}

.reset_form .Signup_label{
    color: rgb(23, 71, 134);
    padding-bottom: 20px;
}

.reset_form .Signup_button{
    background-color: rgb(23, 71, 134); /* Green */
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    padding-left: 90px;
    padding-right: 90px;
    border-radius: 20px;
    margin-bottom: 10px;
}

.reset_form .Signup_button:hover{
    background-color:#1DA099 ;
    transition:0.3s;
}

.reset_form .OTP_new{
    width: 300px;
    padding: 12px 20px;
    margin-top: 18px;
    display: block;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-sizing: border-box; 
    font-size: medium;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}
.reset_form .OTP_new_password{
    width: 300px;
    padding: 12px 20px;
    margin-top: 18px;
    display: block;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-sizing: border-box; 
    font-size: medium;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}

.reset_form .associated_email{
    width: 380px;
    padding: 12px 20px;
    margin-top: 18px;
    display: block;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-sizing: border-box; 
    font-size: medium;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.reset_form .Forget_Signup{
    color: rgb(31, 94, 230);
    margin-top: 10px;
}

.reset_form .forget{
    color: rgb(31, 94, 230);
    /* margin-bottom: 10px; */
}
.reset_form .signup {
    color: rgb(31, 94, 230);
    /* margin-top: 10px; */
}
